
/* BASICS */

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: rgba(234,230,218,1)
}

/* WEBFONT */

@font-face {
    font-family: 'GangwonEduHyeonokT_OTFMediumA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduHyeonokT_OTFMediumA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: test;
    src: url(font/test.ttf) format(ttf);
}

/* HEADER */

header{ 
    width: 95%;
    height:80px;
    margin:0;
    display: flex;
    vertical-align:bottom;
}

h1 a{
    text-decoration: none;
    color: black;
    font-size: 3vw;
    font-family: test;
    font-weight: lighter;
    margin-top: 25px;
    justify-content:flex-start;
}

nav ul li {
    display:inline-block;
    
    margin-top: 25px;
    margin-left: 25px;
}

#about ul li {
    display:inline-block;
    position: relative;
    left: 1200px;
    margin-top: 25px;
    margin-left: 25px;
}

ul li a{
    text-decoration: none;
    color: black;
    font-size: 0.8em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}

ul li a:hover{
    color:orangered;
}

label:focus{
    display: flex;
    margin-top: 50px;
    float: inline-start;
    color:orangered;
}

img{
    margin-top: 50px;
    object-fit: cover;
}


#main{
    display:grid;
    grid-template-columns:repeat(auto-fill, minmax(400px, 1fr));
}